<!DOCTYPE html>
<html>
<head>
    <!--Below is setup details for the web page-->
    <title>Student App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="content">

        <!--Navbar for top of page-->
        <div class="navbar">
            <a href="/templates/homepage.html">Home Page</a>
            <a href="/templates/lecturers.html">Lecturers</a>
            <a href="/templates/students.html">Students</a>
            <a href="/templates/courses.html">Courses</a>
        </div>

        <!--Page heading and content-->
        <h1>College Application Courses</h1>
        <hr />

        <!--Footer class for bottom of page-->
        <div class="footer">
            <p>&copy Student Application <a href="/templates/homepage.html">Home Page</a></p>
        </div>


    </div>
</body>
</html>