{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!--Below is setup details for the web page-->
    <title>Student App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="content">

        <!--Navbar for top of page-->
        <div class="navbar">
            <a href="/templates/homepage.html">Home Page</a>
            <a href="/templates/lecturers.html">Lecturers</a>
            <a href="/templates/students.html">Students</a>
            <a href="/templates/courses.html">Courses</a>
        </div>

        <!--Page heading and content-->
        <h1>College Application Courses</h1>
        <hr />

        <!--Homepage body and content-->
        <table class="cell-border hover order-column" id="coursesTable">
            <thead>
                <tr>
                    <!-- Table Headings-->
                    <th style="width:25%" onclick="sortTable(1)">Course Name</th>
                    <th style="width:25%" onclick="sortTable(2)">Course Building</th>
                    <th style="width:25%" onclick="sortTable(3)">Course Room</th>
                    <th style="width:25%" onclick="sortTable(4)">Course Length</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                <tr>
                    <!-- Table Data-->
                    <td>{{ course.cou_name }}</td>
                    <td>{{ course.cou_building }}</td>
                    <td>{{ course.cou_room }}</td>
                    <td>{{ course.cou_term }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <hr />

        <!--Footer class for bottom of page-->
        <div class="footer">
            <p>&copy Student Application <a href="/templates/homepage.html">Home Page</a></p>
        </div>


    </div>
</body>
</html>