{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!--Below is setup details for the web page-->
    <title>Student App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="content">

        <!--Navbar for top of page-->
        <div class="navbar">
            <a href="/templates/homepage.html">Home Page</a>
            <a href="/templates/lecturers.html">Lecturers</a>
            <a href="/templates/students.html">Students</a>
            <a href="/templates/courses.html">Courses</a>
        </div>

        <!--Page heading and content-->
        <h1>College Application Students</h1>
        <hr />

        <!--Homepage body and content-->
        <table class="cell-border hover order-column" id="studentsTable">
            <thead>
                <tr>
                    <!-- Table Headings-->
                    <th style="width:10%"></th>
                    <th style="width:22%" onclick="sortTable(1)">Student Name</th>
                    <th style="width:22%" onclick="sortTable(2)">Student Email</th>
                    <th style="width:22%" onclick="sortTable(3)">Student Course</th>
                    <th style="width:22%" onclick="sortTable(4)">Student Term</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}
                <tr>
                    <!-- Table Data-->
                    <td class="students_info" id="students_info" onclick="window.location.href = 'students_info.html';" style="text-align:center;"> &#10148; </td>
                    <td>{{ student.stu_name }}</td>
                    <td>{{ student.stu_email }}</td>
                    <td>{{ student.stu_course }}</td>
                    <td>{{ student.stu_term }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <hr />

        <!--Footer class for bottom of page-->
        <div class="footer">
            <p>&copy Student Application <a href="/templates/homepage.html">Home Page</a></p>
        </div>


    </div>
</body>
</html>